{ pkgs, config, ... }:

{
  services.cron = {
    enable = true;
    systemCronJobs = [
       "*/5 * * * *      shiv      /mnt/sync.sh projects /mnt/doomnas/Projects /mnt/local-projects FriarTech,shiv6f,z-pending,z-raw-media"
       "2,7,12,17,22,27,32,37,42,47,52,57 * * * *      shiv      /mnt/sync.sh resources /mnt/doomnas/Resources /mnt/local-resources 3d-prints,app-backups,audio,circuits,cnc,images"
       "4,9,14,19,24,29,34,39,44,49,54,59 * * * *      shiv      /mnt/sync.sh library /mnt/doomnas/Library /mnt/local-library Audio,audiobooks,books,images,learn,papers"
    ];
  };
}
