{ 
  pkgs,
  ...
}:

{
  home.packages = with pkgs; [
    xarchiver
    nomacs
    cheese
    libreoffice-qt6-still
    sublime3
    obs-studio
    peek
    vlc
    openscad
    firefox
    brave
    chromium
    mullvad-browser
    tor-browser
    yubioath-flutter
    gimp
    remmina
    bitwarden-desktop
    bruno
    skypeforlinux
    pantheon.elementary-iconbrowser
    anki
    simple-scan
    wev
    # davinci-resolve-studio
    fontforge-gtk
    blender
    telegram-desktop
    thunderbird
    android-tools
    espanso

    # Unfree
    jetbrains.datagrip
    code-cursor
    vscode
    morgen
    slack
    spotify
    dropbox
  ];

  systemd.user.services.dropbox = {
        Unit = {
            Description = "Dropbox service";
        };
        Install = {
            WantedBy = [ "default.target" ];
        };
        Service = {
            ExecStart = "${pkgs.dropbox}/bin/dropbox";
            Restart = "on-failure";
        };
    };
}
